html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: inherit;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
body{
  @extend %gotham-medium;
  color: #fff;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.4px;
}
.container{
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn{
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 30px;
  text-transform: uppercase;
  box-shadow: 0 8px 14px rgba(0,0,0,.1);
  transition: all .3s;
}
.title{
  @extend %gotham-bold;
  color: #000;
}