@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  height: 100vh;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -70px center;
  color: #fff;
  margin-bottom: -25px;
  &__top{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-image{
    margin: -60px 0 0 -105px;
  }
  &__bottom-textarea{
    margin-top: 60px;
    max-width: 555px;
    padding-left: 82px;
    margin-left: -65px;
    position: relative;
    float: right;
    &::before{
      content: "";
      position: absolute;
      border-radius: 25px;
      width: 80px;
      height: 10px;
      background-color: #ffca2a;
      left: -25px;
      top: 30%;
      transform: translateY(50%);
    }
  }
  &__bottom-beforetitle{
    font-size: 45px;
    line-height: 48px;
    @extend %gotham-light;
  }
  &__bottom-title{
    color: #fff;
    font-size: 80px;
    line-height: 82px;
    margin-top: -35px;
  }
  &__bottom-btn{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      left: 265px;
      width: 40px;
      top: 50%;
      transform: translateY(-50%);
      height: 10px;
      background-color: #5f94ff;
      border-radius: 25px;
    }
  }
  &__bottom-btn__link{
    padding: 21px 40px 20px;
    background-color: #fff;
    color: #ff4b64;
    &:hover{
      background-color: #ffca2a;
      color: #fff;
    }
  }
  &__bottom-descr{
    margin-top: 30px;
    color: rgba(#fff, .5);
  }
}
.menu{
  &__list{
    display: flex;
    align-items: center;
  }
  &__list-item{
    font-size: 16px;
    line-height: 18px;
    & + & {
      margin-left: 50px;
    }
  }
  &__list-btn{
    background-color: #fff;
    color: #ff4b64;
    padding: 14px 40px 13px;
    &:hover{
      background-color: #ffca2a;
      color: #fff;
    }
  }
  &__mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 300px;
    background-color: #fa4a62;
    padding: 20px 15px;
    text-align: center;
    border-bottom-right-radius: 10px;
    transition: all .3s;
    transform: translateX(-100%);
    z-index: 5;
  }
  &__btn{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 80px;
    display: none;
    div{
      width: 40px;
      height: 2px;
      background-color: #000000;
      margin-top: 10px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
}
.benefits{
  &__image-bg{
    right: 53px;
    top: -285px;
  }
  &__top{
    text-align: center;
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
      top: 0;
      height: 10px;
      border-radius: 25px;
    }
    &::before{
      width: 40px;
      background-color: #ff4b64;
      left: 570px;
    }
    &::after{
      width: 80px;
      background-color: #5f94ff;
      right: 570px;
    }
  }
  &__top-textarea{
    max-width: 645px;
    margin: 0 auto;
  }
  &__title{
    font-size: 50px;
    line-height: 52px;
    padding-top: 90px;
  }
  &__text{
    font-size: 20px;
    line-height: 22px;
    margin-top: -30px;
  }
  &__list{
    margin-top: 65px;
    padding-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
      transform: translateX(-50%);
      left: 50%;
      background-color: #e5e2db;
    }
    &::before{
      bottom: 5px;
      max-width: 840px;
      width: 100%;
      height: 2px;
    }
    &::after{
      width: 140px;
      height: 10px;
      bottom: 0;
      border-radius: 25px;
    }
  }
  &__bottom{
    margin: 80px 0;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__bottom-list__item{
    @extend %gotham-book;
    padding-left: 36px;
    position: relative;
    span {
      @extend %gotham-bold;
    }
    &::before{
      content: "";
      position: absolute;
      left: 2px;
      background-image: url('../images/benefits__list-before.png');
      width: 20px;
      height: 18px;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &__btn-link{
    padding: 21px 40px;
    color: #fff;
    background-color: #5f94ff;
    &:hover{
      background-color: #9ecb45;
    }
  }
  &__btn{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__descr{
    margin-top: 30px;
    color: #d7d4cd;
  }
}
.trial{
  margin-top: 75px;
  background-image: url('../images/trial-bg.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: -25px;
  &__image-bg{
    top: -215px;
    left: 157px;
  }
  &__textarea{
    max-width: 373px;
    padding: 140px 0 160px;
    color: #fff;
  }
  &__title{
    @extend %gotham-light;
    font-size: 50px;
    line-height: 55px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      height: 10px;
      width: 80px;
      background-color: #ff4b64;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 25px;
      left: -110px;
    }
  }
  &__title-span{
    @extend %gotham-bold;
  }
  &__descr{
    margin-top: -33px;
  }
  &__btn{
     margin-top: 53px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      border-radius: 25px;
      width: 40px;
      height: 10px;
      background-color: #ffca2a;
      left: 230px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__btn-link{
    padding: 21px 43px 22px 42px;
    background-color: #fff;
    color: #9ecb45;
    &:hover{
      color: #fff;
      background-color: #5f94ff;
    }
  }
}
.types {
  margin-top: 82px;
  &__image-bg {
    right: 135px;
    top: 330px;
    z-index: 5;
  }
  &__textarea {
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      height: 10px;
      border-radius: 25px;
    }
    &::before {
      width: 40px;
      background-color: #5f94ff;
      left: 205px;
    }

    &::after {
      width: 80px;
      background-color: #9ecb45;
      right: 205px;
    }
  }
  &__title {
    font-size: 50px;
    line-height: 52px;
    padding-top: 90px;
  }
  &__text {
    padding: 0 55px;
    font-size: 20px;
    line-height: 22px;
    margin-top: -35px;
  }
  &__tabs {
    display: flex;
    max-width: 1280px;
    margin: 65px auto 0;
    position: relative;
    flex-wrap: wrap;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #e5e2db;
      top: 2px;
      height: 23px;
      width: 2px;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &__tab {
    width: 256px;
    height: 180px;
    text-align: center;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #e5e2db;
    }
    &::before {
      width: 25px;
      height: 2px;
      top: 0;
      left: 0;
    }
    &::after {
      top: 2px;
      width: 1px;
      height: 23px;
      left: 0;
    }
    &:first-child::after {
      display: none;
    }
  }
  &__tab-wrapper,
  &__tab-inner,
  &__tab-image__inner {
    position: relative;
    width: 100%;
    height: 100%;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #e5e2db;
    }
  }
  &__tab-wrapper {
    &::before,
    &::after {
      left: 0;
    }
    &::before {
      height: 23px;
      width: 1px;
      bottom: 2px;
    }
    &::after {
      width: 25px;
      height: 2px;
      bottom: 0;
    }
  }
  &__tab-wrapper__first {
    &::before {
      width: 2px;
    }
  }
  &__tab-in {
    &::before {
      height: 23px;
      width: 1px;
      bottom: 0;
      transform: translateY(-2px);
    }
  }
  &__tab-inner {
    &::before,
    &::after {
      right: 0;
    }
    &::before {
      top: 0;
      width: 25px;
      height: 2px;
    }
    &::after {
      top: 2px;
      height: 23px;
      width: 1px;
    }
  }
  &__tab-image__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before,
    &::after {
      right: 0;
    }
    &::before {
      bottom: 0;
      width: 25px;
      height: 2px;
    }
    &::after {
      bottom: 2px;
      height: calc(24px - 1.2px);;
      width: 1px;
      transform: translateY(2px);
    }
  }
  &__tab-image__inner-last {
    &::after {
      width: 2px;
    }
  }
  &__tab-img {
    position: absolute;
    top: 50px;
  }
  &__tab-name {
    position: absolute;
    bottom: 40px;
    color: #c9c6bf;
    text-transform: uppercase;
  }
  &__tab.tab--active {
    background-color: rgba(#5f94ff, .07);
    border-bottom: 2px solid #5f94ff;
    & .types__tab-wrapper::after {
      height: 25px;
      width: 2px;
      bottom: -25px;
      left: -1px;
      background-color: #5f94ff;
    }
    & .types__tab-in {
      &::before {
        height: 23px;
        width: 1px;
        bottom: 0;
        transform: translateY(2px);
      }
    }
    .types__tab-name {
      color: #000;
    }
    & .types__tab-image__inner::before {
      height: 25px;
      width: 2px;
      bottom: -25px;
      right: 0;
      background-color: #5f94ff;
    }
  }
  &__tab:last-child {
    & .types__tab-wrapper::before {
      height: 22px;
      width: 1px;
      bottom: 2px;
      transform: translateY(1px);
    }
  }
  &__tab-in__third {
    &::before {
      transform: translateY(0px);
    }
  }
  &__content {
    margin-top: 130px;
    background-image: url('../images/types-bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding-top: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content-item{
    position: absolute;
    top: 45%;
  }
  &__content-slider {
    height: 355px;
    display: flex;
    align-items: center;
    max-width: 1645px;
  }
  &__slider-arrows {
    position: absolute;
    bottom: 10px;
    z-index: 5;
    background-color: transparent;
    border: none;
    outline: none;
    height: 15px;
    width: 60px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
    }
  }
  &__slider-prev {
    left: 720px;

    &::before {
      background-image: url('../images/arrow-active__prev.png');
      width: 61px;
      height: 14px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.slick-disabled {
      &::before {
        background-image: url('../images/arrow-prev.png');
      }
    }
  }

  &__slider-next {
    right: 760px;

    &::before {
      background-image: url('../images/arrow-active__next.png');
      width: 61px;
      height: 14px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.slick-disabled {
      &::before {
        background-image: url('../images/arrow.png');
      }
    }
  }

  &__content-slider__link {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    bottom: -55px;
    right: -60px;
    outline: none;
    display: none;

    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      width: 130px;
      height: 130px;
      background-color: rgba(#fff, .6);
      border-radius: 50%;
      top: -10px;
      left: -10px;
    }
  }

  &__content-slider__play {
    position: absolute;
    left: 50px;
    top: 41px;
  }

  &__available {
    margin: 577px 0 190px;
  }

  &__available-inner {
    display: flex;
  }

  &__available-img {
    margin-right: 50px;
  }

  &__available-textarea {
    max-width: 435px;
  }

  &__available-title {
    font-size: 35px;
    line-height: 40px;
    padding-right: 105px;
    margin-top: -8px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 10px;
      width: 80px;
      border-radius: 25px;
      background-color: #fb4a62;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__available-text {
    margin-top: -27px;
    padding-bottom: 40px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 10px;
      width: 40px;
      border-radius: 25px;
      background-color: #ffca2a;
      bottom: 0;
    }
  }
  &__trial {
    text-align: center;
  }
  &__trial-btn {
    margin: 45px 0 27px;
  }
  &__trial-btn__link {
    padding: 21px 43px 22px 40px;
    color: #fff;
    background-color: #9ecb45;

    &:hover {
      background-color: #5f94ff;
    }
  }
  &__trial-descr {
    color: #d7d4cd;
  }
}
.slick-initialized .slick-slide{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
.slick-list{
  height: 390px;
}
.slick-slide.slick-current .types__content-slider__item{
  position: relative;
  &::before,
  &::after{
    position: absolute;
    content: "";
    animation: fade .5s;
  }
  &::before{
    width: 240px;
    height: 340px;
    background-color: #ff4b64;
    z-index: -1;
    top: -20px;
    left: -20px;
  }
  & .types__content-slider__link{
    display: block;
    animation: fade .3s;
  }
}
.footer{
  margin-top: 100px;
  background-image: url('../images/footer-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 100px;
  color: #ffb4bc;
  &__image-bg{
    top: -280px;
    left: 100px;
  }
  &__inner{
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__list-item{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      left: 0;
      width: 4px;
      height: 4px;
      background-color: #ffb4bc;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    & + & {
      padding-left: 23px;
      margin-left: 21px;
    }
  }
  &__copy{
    margin-top: -3px;
  }
}
.footer__list-item.footer__list-item--active{
  color: #fff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header{
    margin-bottom: 160px;
  }
  .types{
    display: none;
  }
  .footer__inner{
    max-width: 1055px;
  }
  .footer__image-bg{
    top: -250px;
  }
}


@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}





@import "media";
