@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  height: 100vh;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -70px center;
  color: #fff;
  &__top{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-image{
    margin: -60px 0 0 -105px;
  }
  &__bottom-textarea{
    margin-top: 60px;
    max-width: 555px;
    padding-left: 82px;
    margin-left: -65px;
    position: relative;
    float: right;
    &::before{
      content: "";
      position: absolute;
      border-radius: 30px;
      width: 80px;
      height: 10px;
      background-color: #ffca2a;
      left: -25px;
      top: 30%;
      transform: translateY(50%);
    }
  }
  &__bottom-beforetitle{
    font-size: 45px;
    line-height: 48px;
    @extend %gotham-light;
  }
  &__bottom-title{
    color: #fff;
    font-size: 80px;
    line-height: 82px;
    margin-top: -35px;
  }
  &__bottom-btn{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      left: 265px;
      width: 40px;
      top: 50%;
      transform: translateY(-50%);
      height: 10px;
      background-color: #5f94ff;
      border-radius: 30px;
    }
  }
  &__bottom-btn__link{
    padding: 21px 40px 20px;
    background-color: #fff;
    color: #ff4b64;
    &:hover{
      background-color: #ffca2a;
      color: #fff;
    }
  }
  &__bottom-descr{
    margin-top: 30px;
    color: rgba(#fff, .5);
  }
}
.menu{
  &__list{
    display: flex;
    align-items: center;
  }
  &__list-item{
    font-size: 16px;
    line-height: 18px;
    & + & {
      margin-left: 50px;
    }
  }
  &__list-btn{
    background-color: #fff;
    color: #ff4b64;
    padding: 14px 40px 13px;
    &:hover{
      background-color: #ffca2a;
      color: #fff;
    }
  }
}
.benefits{
  &__top{
    text-align: center;
  }
  &__title{
    font-size: 50px;
    line-height: 52px;
  }
  &__text{
    font-size: 20px;
    line-height: 22px;
    color: #918f89;
    margin-top: -30px;
  }
  &__list{
    margin-top: 65px;
    padding-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
      transform: translateX(-50%);
      left: 50%;
      background-color: #e5e2db;
    }
    &::before{
      bottom: 5px;
      width: 840px;
      height: 2px;
    }
    &::after{
      width: 140px;
      height: 10px;
      bottom: 0;
      border-radius: 25px;
    }
  }
  &__bottom{
    margin: 80px 0;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-list__item{
    @extend %gotham-book;
    padding-left: 36px;
    position: relative;
    span {
      @extend %gotham-bold;
    }
    &::before{
      content: "";
      position: absolute;
      left: 2px;
      background-image: url('../images/benefits__list-before.png');
      width: 20px;
      height: 18px;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &__btn-link{
    padding: 21px 40px;
    color: #fff;
    background-color: #5f94ff;
  }
  &__btn{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__descr{
    margin-top: 30px;
    color: #d7d4cd;
  }
}









@import "media";
